server {
        listen 80 default_server;
        listen [::]:80 default_server;

        server_name springtest;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
        	root {{ resource_dir }};
		index login.html;
                try_files $uri $uri.html $uri/ ;
        }

        location /api/rest/{
                proxy_pass http://{{ application_host }}:{{ application_port }};
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

    error_page  405     =200 $uri;

}
